@charset "UTF-8";
@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../font/lifehack_medium-webfont.woff2") format("woff2"), url("../font/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../font/gagalin-regular-webfont.woff2") format("woff2"), url("../font/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/ubuntu-b-webfont.woff2") format("woff2"), url("../font/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: bold; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/ubuntu-light-webfont.woff2") format("woff2"), url("../font/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: light; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/ubuntu-medium-webfont.woff2") format("woff2"), url("../font/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: medium; }

@font-face {
  font-family: 'ubuntu';
  src: url("../font/ubuntu-regular-webfont.woff2") format("woff2"), url("../font/ubuntu-regular-webfont.woff") format("woff");
  font-weight: regular;
  font-style: regular; }

.section-scroll {
  position: fixed;
  top: 2rem;
  right: 1rem;
  color: #fff;
  z-index: 10; }

.order__btn {
  background-color: #e35028;
  border-radius: 4px;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 500;
  font-size: .8rem;
  color: #fff;
  padding: 0 1rem;
  text-transform: uppercase;
  height: 2.5rem;
  outline: none;
  border: none; }

.section__header {
  margin-top: 4.8rem;
  font-size: 4.5rem;
  font-family: 'Gagalin-Regular', Arial, sans-serif; }

.header-gray {
  color: #2f3234; }

.header-orange {
  color: #f9b43b; }

.header-white {
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.section {
  min-height: 650px; }
  .section__centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.content {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.intro {
  background-image: url("../img/bg_section-1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative; }

.header__logo {
  /*  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: cover; */
  width: 90px;
  height: 75px;
  margin-right: auto; }

.menu__item {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  padding-top: .6rem; }
  .menu__item::after {
    content: '●';
    margin: 0 12px; }
  .menu__item:last-child {
    margin-right: 14px; }
  .menu__item:last-child::after {
    display: none; }

.menu__link {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  color: #fff; }

.header__menu,
.header__btn {
  margin-top: 1.7rem; }

.intro__burger--img {
  opacity: 0; }

.intro__burger {
  background-image: url("../img/burger.png");
  background-repeat: no-repeat;
  background-size: cover; }

.intro__header {
  margin-top: 6rem; }

.intro__descrip {
  color: #fff;
  font-family: 'Lifehack-Medium';
  font-size: 4.06rem;
  line-height: 3.6rem; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%; }

.intro__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.intro__burger,
.intro__header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.intro__header {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.header__arrow {
  width: 36px;
  height: 20px;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin: 0 auto; }

.best {
  background-image: url("../img/best_bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative; }

.best__header {
  margin-bottom: 0; }

.best__item--name {
  font-size: 1.5rem;
  font-family: 'Lifehack-Medium'; }

.best__item--description {
  font-size: .8rem;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300; }

.best__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  width: 30%;
  text-align: center;
  margin-right: 20px; }
  .best__item:last-child {
    margin-right: 0; }

.carousel {
  background-image: url("../img/burger_bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative; }

.carousel__content,
.carousel__order-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.carousel__item--icon-box {
  width: 5.6rem;
  height: 5.6rem;
  background-color: #f08c33;
  border-radius: 4px;
  position: relative; }

.carousel__item--icon-top {
  bottom: 10%;
  left: 26%;
  position: absolute; }

.carousel__item--icon-name {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Gagalin-Regular', Arial, sans-serif;
  font-size: .8rem;
  position: absolute;
  bottom: 10%;
  left: 27%; }

.carousel__burger-black {
  opacity: 0; }

.carousel__item--burger {
  background-image: url("../img/black_burger.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 28rem; }

.carousel__left, .carousel__right {
  width: 47%; }

.carousel__right {
  margin-left: 1.5rem; }

.carousel__item--description {
  color: #fff;
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  font-size: .8rem;
  line-height: 1.6rem; }

.carousel__item--price {
  color: #e35028;
  font-size: 1.8rem;
  font-family: 'Gagalin-Regular', Arial, sans-serif; }

.carousel__item--number {
  color: #e35028;
  font-size: 4.5rem;
  font-family: 'Gagalin-Regular', Arial, sans-serif;
  margin-top: 5.6rem; }

.carousel__btn {
  margin: 3rem 0 0 1.9rem; }

.team {
  background-image: url("../img/team_bg.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 4.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 3.1rem; }

.team__member--trigger {
  color: #fff;
  font-family: 'Gagalin-Regular', Arial, sans-serif;
  font-size: .8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team__member--trigger::before {
    content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px;
    margin-right: .6rem; }

.team__member--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.team__member--text {
  color: #fff; }

.team__member--image {
  opacity: 0; }

.team__member--avatar {
  background-image: url("../img/team_mem.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  overflow: hidden; }

.team__member--position {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 700;
  font-size: .8rem; }

.team__member--about {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-weight: 300;
  font-size: .8rem; }

/*# sourceMappingURL=main.css.map */