//COLORS
$orange: #f9b43b;
$white: #fff;
$gray: #2f3234;
$redorange: #e35028;

// config
@import "config/mixins";
@import "config/font";
// base

@import "layout/adjustment";
@import "layout/grid";


//section
@import "section/intro";
@import "section/best";
@import "section/carousel";
@import "section/team";
