.best {
  background-image: url('../img/best_bg.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.best__content {
  display: flex;
  align-self: center;
  @include mobile {
    flex-direction: column;
  }
}

.best__header {
  margin-bottom: rem(20px);
  align-self: center;
}

.best__img {
  height: rem(100px);
  svg {
    max-width: 95%;
  }
}

.best__item {
  width: 30%;
  text-align: center;
  margin-right: rem(20px);
  &:last-child {
    margin-right: 0;
} @include mobile {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
}

.best__item--name {
  font-size: 1.5rem;
  @include lifehack();
  @include mobile {
    margin-bottom: rem(23px);
  }
}
.best__item--description {
  font-size: .8rem;
  @include ubuntu(light);
  @include mobile {
    margin-bottom: rem(50px);
  }
}

.best__left ,
  .best__right {
    @include mobile {
    flex-flow: column wrap;
    margin-left: auto;
    width: 30%;
    text-align: left;
  }
}

.best__right {
    @include mobile {
    flex-flow: row wrap;
    margin-left: auto;
    width: 70%;
    text-align: left;
  }
}
