.carousel {
  background-image: url('../img/burger_bg.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative;
}
.switch-arrow__left {
  position: absolute;
  width: rem(36px);
  height: rem(20px);
  top: 50%;
  left: -4rem;
  transform: rotate(90deg);
  svg {
    max-width: 95%;
  }
}

.switch-arrow__right {
  position: absolute;
  width: rem(36px);
  height: rem(20px);
  top: 56%;
  right: -4rem;
  transform: rotate(270deg);
  svg {
    max-width: 95%;
  }
}

.carousel__content,
.carousel__order-block {
  display: flex;
  margin-top: 2rem;
  @include tablet {
    flex-direction: column;
    justify-content: center;
  }
}
.carousel__item--header {
  @include tablet {
    display: flex;
    width: 100%;
    padding: 0 15%;
    text-align: center;
    margin: rem(40px) 0 rem(33px) 0;
  }
  @include mobile {
    padding: 0;
  }
}
.carousel__item--icon-box {
  width: 5.6rem;
  height: 5.6rem;
  background-color: #f08c33;
  border-radius: 4px;
  position: relative;
}
.carousel__item--icon-burger {
  top: 10%;
  left: -118%;
  position: absolute;
  @include tablet {
    position: absolute;
    bottom: 10%;
    left: -127%;
  }
}
.carousel__item--icon-name {
  color: $white;
  text-transform: uppercase;
  @include gagalin();
  font-size: .8rem;
  position: absolute;
  bottom: 10%;
  left: 27%;
  @include tablet {
    position: absolute;
    bottom: 10%;
    left: 28%;
  }
}

.carousel__item--icon-kkal {
  position: absolute;
  bottom: 0;
  left: -10%;
  @include tablet {
    top: 2%;
    left: 70%;
  }
}
.carousel__item--icon-qty,
.carousel__item--icon-text {
  color: $lightorange;
  text-transform: uppercase;
  @include gagalin();
  font-size: .9rem;
}
.carousel__item--icon-qty {
  position: absolute;
  bottom: rem(10px);
  left: rem(139px);
  @include tablet {
    position: absolute;
    top: 5%;
    left: rem(148px);
  }
}
.carousel__item--icon-text {
  position: absolute;
  top: 0;
  left: rem(135px);
  @include tablet {
    position: absolute;
    top: 8%;
    left: rem(146px);
  }
}

.carousel__burger-black-image {
  opacity: 0;
}
.carousel__item--burger {
  background-image: url('../img/black_burger.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 28rem;
  @include tablet {
    background-size: cover;
    padding: 0;
    margin: 0 auto;
    width: 31rem;
  }
}
.carousel__left, .carousel__right {
  width: 47%;
  @include tablet {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  @include mobile {
    flex-direction: column;
    width: 95%;
  }
}
.carousel__right {
  margin-left: 1.3rem;
}
.carousel__item--description {
  color: $white;
  @include ubuntu(light);
  font-size: .8rem;
  line-height: 1.6rem;
  @include tablet {
    width: 100%;
    text-align: center;
    padding: 0 15%;
  }
}
.carousel__item--price  {
  color: $redorange;
  font-size: 1.8rem;
  @include gagalin();
}
.carousel__item--number  {
  color: $redorange;
  font-size: 4.5rem;
  @include gagalin();
  margin-top: 5.6rem;
}
.carousel__btn {
 margin: 3rem 0 0 1.9rem;
 @include tablet {
   width: rem(94px);
 }
}

.carousel__order-block {
  @include tablet {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  padding: 0 25%;
  }
}
