
.intro {
  background-image: url('../img/bg_section-1.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative;
}


.header__logo {
/*  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: cover; */
  width: 90px;
  height: 75px;
  margin-right: auto;
}

.menu__item {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  color: $white;
  padding-top: .6rem;
  &::after {
    content: '●';
    margin: 0 12px;
  }
  &:last-child {
    margin-right: 14px;
  }
  &:last-child::after {
  display: none;
  }
}
.menu__link {
  @include ubuntu(light);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  color: $white;

}
.header__menu,
.header__btn {
  margin-top: 1.7rem;
}
.intro__burger--img {
  opacity: 0;
}
.intro__burger {
  background-image: url('../img/burger.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__header {
  margin-top: 6rem;
}
.intro__descrip {
  color: $white;
  @include lifehack();
  font-size: 4.06rem;
  line-height: 3.6rem;
}

.header  {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.intro__content {
  width: 100%;
  display: flex;
}

.intro__burger,
.intro__header,  {
  flex: 1;
}
.intro__header {
  align-items: flex-end;
}

.header__arrow {
  width: 36px;
  height: 20px;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin: 0 auto;

}
