
.intro {
  background-image: url('../img/bg_section-1.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: relative;
}


.header__logo {
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 6.4rem;
  height: 4.8rem;
  margin-right: auto;
}

.menu__item {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  color: $white;
  padding-top: .5rem;
  &::after {
    content: '●';
    margin: 0 .75rem;
  }
  &:last-child {
    margin-right: .87rem;
  }
  &:last-child::after {
  display: none;
  }
}
.menu__link {
  @include ubuntu(light);
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  color: $white;

}
.header__menu,
.header__btn {
  margin-top: .3rem;
}

.menu {
  @include tablet {
    display: none;
  };
}

.hamburger-menu-link {
  display: none;
  @include tablet {
    display: flex;
    margin: .7em 0 0 1.3em;
    background-image: url("../img/hamburger.svg");
    top: .8rem;
    left: rem(10px);
    width: 33px;
    height: 27px;
    svg {
      max-width: 95%;
    }
  }
}

.intro__burger--img {
  opacity: 0;
}
.intro__burger {
  background-image: url('../img/burger.png');
  background-repeat: no-repeat;
  width: 100%;
  justify-content: center;
  @include tablet {
    width: rem(500px);
    margin: 0 auto;
  }
  @include mobile {
    margin: 0 auto;
    padding-left: 0;
  }
}

.intro__header {
  margin-top: 6rem;
  @include tablet {
    margin: 0 auto;
  }
}
.intro__descrip {
  color: $white;
  @include lifehack();
  font-size: 4.06rem;
  line-height: 3.6rem;
}

.header  {
  display: flex;
  margin-top: .3rem;
  min-width: 100%;
}
.intro__content {
  display: flex;
  width: 95%;
  max-width: 940px;
  @include tablet {
    width: 95vw;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10% 10% 10%;
  }
}

.intro__burger,
.intro__header,  {
  flex: 1;
}
.intro__header {
  align-items: flex-end;
}

.header__arrow {
  width: rem(36px);
  height: rem(20px);
  bottom: 0;
  left: 50%;
  position: absolute;
  margin: 0 auto;
  &:hover {
    width: rem(37px);
    height: rem(21px);
  }
  svg {
    max-width: 95%;
  }
}
