@font-face {
    font-family: 'Lifehack-Medium';
    src: url('../font/lifehack_medium-webfont.woff2') format('woff2'),
         url('../font/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gagalin-Regular';
    src: url('../font/gagalin-regular-webfont.woff2') format('woff2'),
         url('../font/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu-b-webfont.woff2') format('woff2'),
         url('../font/ubuntu-b-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu-light-webfont.woff2') format('woff2'),
         url('../font/ubuntu-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: light;

}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../font/ubuntu-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: medium;

}

@font-face {
    font-family: 'ubuntu';
    src: url('../font/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../font/ubuntu-regular-webfont.woff') format('woff');
    font-weight: regular;
    font-style: regular;

}
