.section-scroll {
  position: fixed;
  top: 2rem;
  right: 1rem;
  color: $white;
  z-index: 10;
}

.order__btn {
  background-color: $redorange;
  border-radius: 4px;
  font-family: 'ubuntu', arial;
  font-size: .8rem;
  font-weight: 400;
  color: $white;
  padding: 12px 18px;
  text-transform: uppercase;
}
